body {
    background-color: #e9eaec;
}

a {
    text-decoration: none;
    color: white;
}

section {
    height: 100vh;
}

.section-head {
    font-weight: 700;
}
/* nav menu  */
nav {
    background-color: #212530;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.logo {
    margin-left: 20px;
    font-size: 24px;
}

.nav-item, .nav-link {
    font-size: 20px;
    color: white;
    margin-right: 5px;
}

/* home  */
.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #cfcfcf;
    margin-top: 50px;
}

.home-content {
    margin-top: 200px;
}

.home-image {
    margin-top: 200px;
}
.avatar {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 1px 2px 2px 2px #63666d;
}

.name {
    font-size: 40px;
}

.fa-angle-double-down {
    color: #63666d;
}

.view-work-btn {
    color: black;
    background-color: rgb(0, 132, 255);
    box-shadow: 1px 1px 1px 1px black;
    margin: 0 5px;
}

/* about  */
.about-content {
    min-height: 200px;
    margin-top: 90px;
    border: #212530 3px solid;
    padding: 15px;
    border-radius: 10px;
    background-color: #63666d;
    color: white;
}

.about-title {
    padding: 10px;
    border-bottom: 1px solid black;
}

.skills-content {
    justify-content: center;
    min-height: 400px;
    border-radius: 10px;
    border: #212530 3px solid;
    background-color: #63666d8e;
    color: white;
}

.skill-row {
    width: 90%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-top: solid 1px black;
}

.skill-img {
    height: 100px;
    width: 100px;
}


/* projects  */
.projects {
    height: 100vh;
    background: #cfcfcf;
}

.projects-head {
    border-bottom: solid 1px black;
    padding: 10px;
}

.projects-content {
    margin-top: 120px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: solid 3px #2b313f;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}

.card {
    border-radius: 2%;
    height: 500px;
    background-color: #63666d8e;
    color: black;
    border: 2px solid #2b313f;
}

.card-title {
    text-align: left;
    font-size: 24px;
    font-weight: 700;
}

.card-text {
    text-align: left;
    height: 170px;
}

.card-img {
    width: 300px;
    height: 200px;
    align-self: center;
    padding: 10px;
    border-radius: 5%;
}

.project-btn {
    color: black;
    background-color: rgb(0, 132, 255);
    box-shadow: 1px 1px 1px 1px black;
    margin: 0 5px;
}


/* contact  */
.contact {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.contact-form {
    margin-top: 20px;
}

.form-container {
    margin-top: 200px;
    border: 1px solid blue;
    padding: 20px;
}

.form-field {
    align-self: center;
    width: 500px;
}

.message-field {
    height: 100px;
}

.submit-btn {
    width: 50px;
}

/* footer  */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px 0;
    font-family: 'Courier New', Courier, monospace;
    background: #212530;
    border-top: black solid 1px;
}

.media-icons {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.fab {
    margin: 0 10px;
}

@media screen and (max-width: 576px) {
    .home-content {
        margin-top: 50px;
        text-align: center;
    }

    .home-image {
        text-align: center;
    }

    .avatar {
        height: 150px;
        width: 150px;
    }
}